.consolebody {
    height: 40em;
    width: 22.5em;
    background: linear-gradient(25deg, rgba(242,226,31,0.48503151260504207) 0%, rgba(242,216,42,0.9528186274509804) 9%, rgba(255,224,66,1) 100%);
    display: flex;
    flex-direction: column;  
    border-radius: 100% / 1% 1% 15% 15%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    box-shadow: 2px 2px 10px #454b41;
}
.head {
    height: 20em;
    width: 22.5em;
    display: flex;
    justify-content: center;  
}
.screen {
    height: 19.5em;
    width: 19.5em;
    background: linear-gradient(40deg, rgba(31,36,46,1) 0%, rgba(31,36,46,1) 9%, rgba(31,36,46,1) 100%);
    border-radius: 100% / 1% 1% 10% 10%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.color {
    align-self: center;
    width: 12em;
    height: 2em;
    margin-top: 0.7em;
}
.visualscreen {
    height: 14em;
    width: 14em;
    background: rgb(87,105,76);
    background: linear-gradient(130deg, #454b41 60%, #51584d 80%);
    border-radius: 10px 10px 10px 10px;
    margin-top: 2em;
}
.middle {
    height: 10em;
    width: 22.5em;
    display: flex;
    flex-direction: row;   
}
.cross {
    width: 7.5em;
    display: flex;
    align-items: center; 
}
.symbol {
    font-weight: bolder;
    font-size: 12em;
    font-family: 'Prompt', sans-serif;
    margin-left: 0.2em;
    margin-bottom: 0.2em;
    color: #202226;   
}
.empty1 {
    width: 7.5em;
}
.buttons {
    height: 6em;
    width: 6.5em; 
    display: flex;
    justify-content: space-around;
    align-self: center;
    transform: rotate(-20deg);
}
.button-a {
    width:2em;
    height:2em;
    background-color: #202226;
    border-radius: 50px;
    text-align: center;
    line-height: 35px; 
    box-shadow: 2px 2px 10px #202226;  
    text-shadow: 0 0 2px #000; 
    color: #0f1113;
    font-family: 'Fredoka One', cursive;
}
.button-b{
    width:2em;
    height:2em;
    background-color: #202226;
    border-radius: 50px;
    text-align: center;
    line-height: 35px; 
    box-shadow: 2px 2px 10px #202226;
    text-shadow: 0 0 2px #000; 
    color: #0f1113;
    font-family: 'Fredoka One', cursive; 
}
.foot {
    height: 8em;
    width: 22em;
    display: flex;
    flex-direction: row;
}
.empty2 {
    width: 8em;
    height: 8em; 
}
.selectstart {
    height: 8em;
    width: 8em; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    margin-left: 9em;
}

.select {
    width: 2em;
    height: 0.6em;
    background-color: #202226;
    border-radius: 100% / 50% 100% 60% 100%;
    box-shadow: 2px 2px 10px #202226;   
}

.start {
    width: 2em;
    height: 0.6em;
    background-color: #202226;
    border-radius: 100% / 50% 100% 60% 100%;
    box-shadow: 2px 2px 10px #202226;
    margin-left: 1.2em;
}

.imggrid {
    height: 7.5em;
    width: 5.5em;
    border-radius: 25%;
    margin-left: 2em;
}